.form {
    position: relative;
}

.input {
    width: 100%;
    padding: 12px 92px 12px 12px;
    overflow: hidden;
    border: 1px solid var(--gray);
    border-radius: 8px 8px 0 0;
}

.btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80px;
    background-color: transparent;
    border: none;

    cursor: pointer;
}
