.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;

    width: 600px;
    height: 100vh;
    margin: 0 auto;
}

.app > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.app > div:nth-child(2) {
    display: block;
}
